
.newsTile li{
  list-style: none;
}
.newsTile{
  background: white ;
  border: 1px solid #EAEAEA;
  padding: 1rem;
  border-radius: 6px;
  margin: 1rem;
}
.news{
  background-color: #f9f5fa;
  border-left: 6px solid #D4C2FC ;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
}

  .date{
    font-size: 0.8rem;
    font-style: italic;
  }
.card-link {
  color: black;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
}

