@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: calc(100vh + 200px);
  /*background: #F0F4F8;*/
  background-color: #FDFCFB;
  color: #1F1F1F;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  /*background: #374151;*/
  background-color: #D4C2FC;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#navList {
  display: flex;
  gap: 20px;
}

#navList a {
  /*color: #D1D5DB;*/
  color: #1F1F1F;
  text-decoration: none;
  padding: 8px 12px;
}

#navList a:hover {
  background-color: #c5acfc;
  border-radius: 10px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#navIcon {
  width: 72px;
  height: 72px;
  object-fit: contain;
}

#navTitle {
  /*color: #D1D5DB;*/
  color: #1F1F1F;
  font-family: 'Staatliches', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.content {
  flex: 1;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: #D4C2FC;
  color: #1F1F1F;
}

.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #D1D5DB;
}

@media (max-width: 960px) {
  .hamburger {
    display: block;
  }

  #navList {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #f2f2f2;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
  }

  #navList a {
    padding: 12px 20px;
    border-bottom: 1px solid #ccc;
  }

  #navList.responsive {
    display: flex;
  }
}


