.report-container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 1rem;
  background: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.report-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.report-card {
  background: white;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.report-time {
  font-size: 0.8em;
  color: gray;
  font-style: italic;
  margin-top: 0.5rem;
  display: inline-block;
}

.report-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.filter-buttons {
  text-align: right;
  margin-bottom: 10px;
}

.filter-buttons button {
  margin-left: 5px;
  padding: 0.5rem 1rem;
  background: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.filter-buttons button:hover {
  background: #454545;
}

.report-container h2 {
  text-align: center;
  font-size: 2rem;
}

form label {
  display: block;
  margin: 1rem 0 0.5rem;
  font-weight: bold;
}

form select,
form input,
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submitButton {
  text-align: center;
}

.submitButton button[type="submit"] {
  padding: 0.7rem 1.5rem;
  background: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.submitButton button:disabled {
  background: #999;
}

.submitButton button:hover {
  background: #454545;
}

.latest-reports {
  padding: 1rem;
  background-color: #f9f5fa;
  border-left: 6px solid #D4C2FC;
  margin: 1rem 0;
  border-radius: 8px;
}

.latest-reports ul {
  padding-left: 1.2rem;
}

.latest-reports li {
  margin-bottom: 0.8rem;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.report-modal {
  background: transparent;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  padding: 1rem;
  position: relative;
}

.modal-header {
  text-align: right;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 3rem;
  line-height: 1;
  cursor: pointer;
  color: white;
}

.close-btn:hover {
  background: transparent;
}

.open-report-btn {
  margin-left: auto;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  cursor: pointer;
  background: #333;
  border-radius: 8px;
  font-size: 1rem;
  transition: background 0.3s ease;
}

.open-report-btn:hover {
  background: #454545;
}
