.important-announcements {
  background-color: #f9f5fa;
  border-left: 6px solid #D4C2FC;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
}

.news-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.news-item {
  background: white;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 6px;
}
.news-item h3 {
  margin: 0 0 0.5rem;
}

.explore-section {
  margin-top: 40px;
  padding: 20px;
}

.explore-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
}

.explore-card {
  text-decoration: none;
  color: inherit;
  background-color: #f9f5fa;
  border-radius: 12px;
  padding: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
  display: block;
  border: 0.1px solid #ddd;
}

.explore-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.explore-card h3 {
  margin-bottom: 8px;
}
